{%extends 'index.html'%}
<title>{%block title%}Ceļojumi{%endblock%}</title>


<div class="text-center align-center">

                  <h1>{%block virsraksts%}Ceļojumi{%endblock%}</h1>
</div>


{% block saturs %}


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <a href="#" class = "text-decoration-none text-dark">
    <div class="card h-100">
      <img src="https://res.cloudinary.com/gwatco/image/upload/dpr_auto/t_image-card/f_auto/v1678176000/new-website/static/homepage/global-travel-cover/banner.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ceļojuma nosaukums</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error illo porro doloremque fugiat eius sint obcaecati est ratione culpa eaque repellat quis, corporis blanditiis molestiae vero explicabo. Nesciunt, odit!.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Šodien</small>
      </div>
    </div>
    </a>
  </div>
</div>


<!--   <div class = "row">
    <ul>
      
        <li>
          <div class = "m-3 row rounded text-bg-light bg-opacity-50 col-lg-8 col-sm-12 col-md-8 position-relative">
            <div class = "col">
              <div class = "col">
            <img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="p-1 rounded float-right position-absolute top-0 start-0 imgshadow" style= "max-width:10%" alt="ProfilePic" >
            <p class="h1">Nosaukums</p>
              </div>
          <div class = "row">
            <div class = "col-lg-12 pt-4 pt-lg-0">
              <img src = "https://res.cloudinary.com/gwatco/image/upload/dpr_auto/t_image-card/f_auto/v1678176000/new-website/static/homepage/global-travel-cover/banner.webp" class="p-1 rounded float-end imgshadow" style= "max-width:25%" alt="ProfilePic" >
              <div>
              <p>Lorem ipsum dolor sit amet, ex tractatos sapientem mel, ea pro putant numquam. Ea maiorum signiferumque pri. Id eam aliquam debitis. Ad mucius quodsi sea, vis oratio commune apeirian eu.
Cu sea movet iuvaret, ut quo legere facilisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque impedit, alias non sunt soluta deserunt repellat, numquam expedita cupiditate quisquam mollitia minima rem laboriosam voluptas fuga praesentium architecto earum dolorem? </p>
              </div>
              
            </div>
          </div>
          
          </div>
          </div>
<!--              <div class="p-2 mb-2 bg-transparent text-dark"></div> -->
<!--             <li>
          <div class = "m-3 row rounded text-bg-light bg-opacity-50 col-lg-8 col-sm-12 col-md-8 position-relative">
            <div class = "col">
            <img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="m-1 rounded float-right position-absolute top-0 start-0" style= "max-width:10%" alt="ProfilePic" >
            <p class="h1">Nosaukums</p>
            <div class = "col">
              <div class = "mt-5">
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error adipisci totam maxime ipsa accusantium, voluptate aut? Impedit iure quod molestias facilis eveniet soluta voluptatem maxime laborum saepe inventore? Itaque, nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quis qui voluptate a hic ipsa obcaecati porro quisquam doloremque aliquam impedit officiis magnam deleniti rem unde velit ratione, debitis sequi.</p>
              </div>
              <img src = "https://res.cloudinary.com/gwatco/image/upload/dpr_auto/t_image-card/f_auto/v1678176000/new-website/static/homepage/global-travel-cover/banner.webp" class="p-1 rounded float-end" style= "max-width:25%" alt="ProfilePic" >
            </div>
          </div>
          
            
            

          </div>





  <div class="col">
    <a href="#" class = "text-decoration-none text-dark">
    <div class="card h-100">
      <img src="https://res.cloudinary.com/gwatco/image/upload/dpr_auto/t_image-card/f_auto/v1678176000/new-website/static/homepage/global-travel-cover/banner.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ceļojuma nosaukums</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error illo porro doloremque fugiat eius sint obcaecati est ratione culpa eaque repellat quis, corporis blanditiis molestiae vero explicabo. Nesciunt, odit!.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">2 dienas atpakaļ</small>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="#" class = "text-decoration-none text-dark">
    <div class="card h-100">
      <img src="https://res.cloudinary.com/gwatco/image/upload/dpr_auto/t_image-card/f_auto/v1678176000/new-website/static/homepage/global-travel-cover/banner.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ceļojuma nosaukums</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error illo porro doloremque fugiat eius sint obcaecati est ratione culpa eaque repellat quis, corporis blanditiis molestiae vero explicabo. Nesciunt, odit!.</p>
      </div>
    <div class="card-footer">
        <small class="text-body-secondary">4 dienas atpakaļ </small>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="#" class = "text-decoration-none text-dark">
    <div class="card h-100">
      <img src="https://res.cloudinary.com/gwatco/image/upload/dpr_auto/t_image-card/f_auto/v1678176000/new-website/static/homepage/global-travel-cover/banner.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ceļojuma nosaukums</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error illo porro doloremque fugiat eius sint obcaecati est ratione culpa eaque repellat quis, corporis blanditiis molestiae vero explicabo. Nesciunt, odit!.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">2 nedēļas atpakaļ</small>
      </div>
    </div>
    </a>
  </div>






          
        </li>
    
    
    </ul>
    
      





      
    </div>









  




 --> -->





{%endblock%}