{%extends 'index.html'%}
{% block saturs %}


  <h1 id="tituls"> Ekspertu ceļojumi </h1>
<br><br>
<div id="">
  <div class="post">
    <div id="icon">
      <a href="https://celojuma-bode.elinajurgelevic.repl.co/profils"> <img id="img" src="https://i.stack.imgur.com/dr5qp.jpg"    <h2>Username</h2></a>
    </div>
    <div id="image">
      <img src="https://www.copeslietas.lv/site/images/bildes/2022-06/normal/100316_2306718080.jpg">
    </div>
    <div class="emoji">
  <p id="skaits">
    <img id="star" src="https://toppng.com/uploads/preview/blue-star-11547078965dqrk0n7lrq.png">
    <img onclick="like()" id="like" src="https://i.pinimg.com/originals/74/cf/42/74cf423263757b7a8c180c649b22d097.png">0
    <img onclick="dislike()" id="dislike" src="https://i.pinimg.com/736x/66/c9/56/66c95602a3d7510167c45678f42e2003.jpg">0
  </p>
</div>

<div id="description"> 
  <a href="https://celojuma-bode.elinajurgelevic.repl.co/postans">
    <p>description</p>
  </a>
</div>

       <div class="comments">
      <a href="https://celojuma-bode.elinajurgelevic.repl.co/profils"> <img id="img" src="https://i.stack.imgur.com/dr5qp.jpg"<p>Username</p></a>
      
        

<!--       <p>comments</p> -->
    </div>
   </div>
  <br><br><br>
  <div class="post">
    <div id="icon">
      <a href="https://celojuma-bode.elinajurgelevic.repl.co/profils"> <img id="img" src="https://i.stack.imgur.com/dr5qp.jpg"    <h2>Username</h2></a>
    </div>
    <div id="image">
      <img src="https://www.copeslietas.lv/site/images/bildes/2022-06/normal/100316_2306718080.jpg">
    </div>
    <div id="description">
      <p id="skaits"><img id="star" src="https://toppng.com/uploads/preview/blue-star-11547078965dqrk0n7lrq.png"><img onclick="like()" id="like" src="https://i.pinimg.com/originals/74/cf/42/74cf423263757b7a8c180c649b22d097.png">0<img onclick="dislike()" id="dislike" src="https://i.pinimg.com/736x/66/c9/56/66c95602a3d7510167c45678f42e2003.jpg">0</p>
      <p>description</p>
    </div>
    
<!--       <p>comments</p> -->
    </div>
  </div>
  <br><br><br>
  <div class="post">
    <div id="icon">
      <a href="https://celojuma-bode.elinajurgelevic.repl.co/profils"> <img id="img" src="https://i.stack.imgur.com/dr5qp.jpg"    <h2>Username</h2></a>
    </div>
    <div id="image">
      <img src="https://www.copeslietas.lv/site/images/bildes/2022-06/normal/100316_2306718080.jpg">
    </div>
    <div id="description">
      <p id="skaits"><img id="star" src="https://toppng.com/uploads/preview/blue-star-11547078965dqrk0n7lrq.png"><img onclick="like()" id="like" src="https://i.pinimg.com/originals/74/cf/42/74cf423263757b7a8c180c649b22d097.png">0<img onclick="dislike()" id="dislike" src="https://i.pinimg.com/736x/66/c9/56/66c95602a3d7510167c45678f42e2003.jpg">0</p>
      <p>description</p>
    </div>
    
<!--       <p>comments</p> -->
    </div>
  </div>
  <br><br><br>
  <div class="post">
    <div id="icon">
      <a href="https://celojuma-bode.elinajurgelevic.repl.co/profils"> <img id="img" src="https://i.stack.imgur.com/dr5qp.jpg"    <h2>Username</h2></a>
    </div>
    <div id="image">
      <img src="https://www.copeslietas.lv/site/images/bildes/2022-06/normal/100316_2306718080.jpg">
    </div>
    <div id="description">
      <p id="skaits"><img id="star" src="https://toppng.com/uploads/preview/blue-star-11547078965dqrk0n7lrq.png"><img onclick="like()" id="like" src="https://i.pinimg.com/originals/74/cf/42/74cf423263757b7a8c180c649b22d097.png">0<img onclick="dislike()" id="dislike" src="https://i.pinimg.com/736x/66/c9/56/66c95602a3d7510167c45678f42e2003.jpg">0</p>
      <p>description</p>
    </div>
   
<!--       <p>comments</p> -->
    </div>
  </div>
  <br><br><br>
  <div class="post">
    <div id="icon">
      <a href="https://celojuma-bode.elinajurgelevic.repl.co/profils"> <img id="img" src="https://i.stack.imgur.com/dr5qp.jpg"    <h2>Username</h2></a>
    </div>
    <div id="image">
      <img src="https://www.copeslietas.lv/site/images/bildes/2022-06/normal/100316_2306718080.jpg">
    </div>
    <div id="description">
      <p id="skaits"><img id="star" src="https://toppng.com/uploads/preview/blue-star-11547078965dqrk0n7lrq.png"><img onclick="like()" id="like" src="https://i.pinimg.com/originals/74/cf/42/74cf423263757b7a8c180c649b22d097.png">0<img onclick="dislike()" id="dislike" src="https://i.pinimg.com/736x/66/c9/56/66c95602a3d7510167c45678f42e2003.jpg">0</p>
      <p>description</p>
    </div>
    
<!--       <p>comments</p> -->
    </div>
  </div>
  <br><br><br>
</div>
 
{%endblock%}