{%extends 'index.html'%}
{% block saturs %}

  <!--<h1>Kurš ir boss?</h1>
  <h2> Tests</h2>  
        Name: <input type="text" id="cubis" >
        <button onclick="nospied()">ko</button>
  <h3 id="vecene"></h3>
<script> enters()</script> 
<div class="container text-center">
  <div class="row">
    <div class="col align-self-start">
     
    </div>
    <div class="col align-self-center"> 
  
<form id="login">
  <br><br>
  <h1>LogIn</h1>
  <br> <br><br>
<input type="text" placeholder="Username" id="username" required ><br><br>
<input type="password" placeholder="Parole" id="parole" required><br><br>
<input type="submit"  value="Pabeigt" onclick="nospied3()" class="btn btn-outline-primary">&nbsp;&nbsp;<a href="https://celojuma-bode.elinajurgelevic.repl.co/register" >SignUp</a>
</form> 
</div>
 
    <div class="col align-self-end">
    
    </div>
  </div>
  </div>-->



<section class="vh-100" >
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://thumbs.dreamstime.com/b/air-travel-vertical-panoramic-composition-43180437.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form id="login" method = 'post'>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <img src="/static/images/cs.png" alt="LOGO" class="aplis">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="username1" name = "email" class="form-control form-control-lg" />
                    <label class="form-label" name = 'email' for="username1">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="parole1" name = "password" class="form-control form-control-lg" />
                    <label class="form-label" name = "password" for="parole1">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <input class="btn btn-dark btn-lg btn-block" onclick= "nospied3()" type="submit" value= "Log In">
                  </div>
                  

                  
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
                      style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>




{%endblock%}





 